<div class="span12">
  <table class="proc-list table table-condensed table-bordered">
    <thead>
      <th><a href="/scheduling?sort=pid">PID</a></th>
      <th><a href="/scheduling?sort=name">Name</a></th>
      <th><a href="/scheduling?sort=username">User</a></th>
      <th><a href="/scheduling?sort=num_threads">Threads</a></th>
      <th><a href="/scheduling?sort=cpu_percent">% CPU</a></th>
      <th><a href="/scheduling?sort=memory_rss">Memory (RSS)</a></th>
    </thead>
    <tbody>
      {{#each processes}}
        <tr>
          <td class="numeric">
            {{linkToProcess pid}}
          </td>
          <td>
            {{linkToApp name}}
          </td>
          <td>
            {{username}}
          </td>
          <td class="numeric">
            {{processThreads num_threads}}
          </td>
          <td class="numeric">
            {{processCPU cpu_percent}}
          </td>
          <td class="numeric">
            {{processMemory memory_rss}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
