<h2>Virtual</h2>
<table class="table table-condensed table-bordered">
  <tbody>
    <tr>
      <td>Total:</td>
      <td class="numeric">{{processMemory total}}
    </tr>
    <tr>
      <td>Used:</td>
      <td class="numeric">{{processMemory used}}
    </tr>
    <tr>
      <td>Free:</td>
      <td class="numeric">{{processMemory free}}
    </tr>
    <tr>
      <td>Available:</td>
      <td class="numeric">{{processMemory available}}
    </tr>
    <tr>
      <td>Active:</td>
      <td class="numeric">{{processMemory active}}
    </tr>
    <tr>
      <td>Inactive:</td>
      <td class="numeric">{{processMemory inactive}}
    </tr>
    <tr>
      <td>Wired:</td>
      <td class="numeric">{{processMemory wired}}
    </tr>
  </tbody>
</table>
